body {

    padding-top: 70px;
    padding-bottom: 70px;
}
.contact-name a:hover{
    text-decoration: none;
  color: red;
}
.text-blue{
color: blue;
     
}

.border-less{
    border :none;
}
.alignCenter{
    text-align: center;
}